NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

DATABASE_URL=

### only for dev
NEXTAUTH_URL="http://localhost:3000"

NEXTAUTH_SECRET=

### only for dev 
### github is not currently
GITHUB_ID=
GITHUB_SECRET=
